.industries {
  padding-top: 8vh;
  padding-bottom: 8vh;
  min-height: 80vh;
}

.industry {
  height: 170px;
  padding: 0.5rem;
  border: 1px solid #e8ebee;
  margin-bottom: 30/16 * 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: 62em) {
    height: 140px;
  }
}

.industry__icon {
  margin-bottom: 1.5vh;
  @media only screen and (max-width: 48em) {
    height: 25%;
  }
}

.industry__name {
  font-family: 'Dosis',sans-serif;
  color: $titleColor;
  font-weight: 700;
  text-transform: uppercase;
}

.industries__line {
  @extend .line;
  @media only screen and (max-width: 62em) {
    margin: {
      left: auto;
      right: auto;
    }
  }
}
