@import '../../node_modules/flexboxgrid-sass/flexboxgrid.scss';

.container {
  max-width: 100%;
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    left: 2rem;
    right: 2rem;
  }

  & > .row {
    @media only screen and (min-width: 62em) {
      margin: {
        right: -0.5rem;
        left: -0.5rem;
      }
    }
  }
}

.container-fluid .container {
  padding: {
    left: 0;
    right: 0;
  }
}

.row {
  margin: {
    right: 0;
    left: 0;
  }
}
