.marketing {
  background-color: #f1f1f1;
  padding: {
    top: 10vh;
    bottom: 10vh;
  }

  & > .container > .row {
    min-height: 70vh;
  }
  @media only screen and (max-width: 48em) {
    & > .container > .row {
      flex-direction: column-reverse;
    }
  }
}

.marketing__mockup {
  position: relative;
}

.marketing__image {
  position: relative;
  width: 100%;
  height: auto;
  left: -4%;
  transform: scale(1.1);
  display: block;
  @media only screen and (max-width: 48em) {
    margin-top: 10vh;
  }
  @media only screen and (min-width: 48em) {
    height: 100%;
    left: 50%;
    transform: translateX(-54%);
  }
}

.marketing__content {
  z-index: 2;
}
