.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
width: 100vw;
  transition: 200ms;
  color: #fff;
  & > .container > .row {
    transition: 250ms;
    height: 80px;
  }
}

.nav__brand {
  display: block;
  height: 55%;
  img {
    height: 100%;
  }
}

.nav__item {
  margin: 0 0.5rem;
  font-family: 'Dosis', sans-serif;
}

.nav__links {
  list-style-type: none;
}

.nav__link {
  color: inherit;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13/16*1rem;
  font-weight: 500;
  font-family: inherit;
}

.nav.active {
  background: #fff;
  color: $defaultButton;

  & > .container > .row {
    height: 60px;
  }
}
