.post {}

.post__image {
  width: 100%;
  height: auto;
  display: block;
}

.post__image--wrapper {
  width: 100%;
  overflow: hidden;
  background: lighten(#e8ebee,3%);
  margin-bottom: 1.2rem;
}

.post__title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}

.post__author {
  color: #8e8e8e;
  font-size: 14px;
}

.post__line {
  @extend .line;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}

.post__link {
  display: block;
  margin-top: 1rem;
  color: $primaryColor;
  text-decoration: none;
  font-size: 14px;
  transition: 250ms;

  &:hover {
    color: darken($primaryColor, 10%);
  }
}
