.work {
  background-color: #23232a;
  background-image: url("../img/work__background.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50%;
  color: #fff;
  padding: {
    top: 5vh;
    bottom: 10vh;
  }

  & > .container > .row {
    min-height: 90vh;
  }
  @media only screen and(max-width: 48em) {
    padding-bottom: 40vh;
    background-size: contain;
  }
}

.work__heading {
  font-family: 'Dosis',sans-serif;
  color: #ffffff;
  font-size: 40/16*1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5vh;
}

.work__content {
  color: #878796;
  font-size: 14/16 *1rem;
  line-height: 1.7rem;
}

.work__subheading {
  font-family: 'Dosis',sans-serif;
  color: #ffffff;
  font-size: 34/16*1rem;
  font-weight: 700;
  @media only screen and (max-width:48em) {
    margin-top: 12vh;
    font-size: 30/16*1rem;
  }
}

.work__line {
  background: none;
  border: none;
  border-top: darken(#878796,10%) 1px dashed;
  margin-top: 2rem;
  margin-bottom: 1.75rem;
}
